<header mode="dashboard"></header>

<div class="user-info">
  <div class="user-details" *ngIf="userData">
    <div class="user-detail">
      <div class="user-label"> Member ID </div>
      <span class="user-data"> {{userData?.member_id}} </span>
    </div>

    <div class="user-detail">
      <div class="user-label"> Name </div>
      <span class="user-data"> {{userData?.name}} </span>
    </div>

    <div class="user-detail">
      <div class="user-label"> Date of Birth </div>
      <span class="user-data"> {{userData?.date_of_birth | date:format}} </span>
    </div>

    <div class="user-detail">
      <div class="user-label"> Address </div>
      <span class="user-data"> {{userData?.address}} </span>
    </div>

    <div class="user-detail">
      <div class="user-label"> Employer Name </div>
      <span class="user-data"> {{userData?.employer_name}} </span>
    </div>
  </div>

  <div *ngIf="!userData" class="yd-loader">
    <mat-spinner></mat-spinner>
  </div>
</div>